ion-avatar {
    width: 140px;
    height: 140px;
    margin: 0 auto;
}

.photo-btn {
    position: relative;
    bottom: 25px;
    margin-top: 35px;
}

h2 {
    margin-bottom: 0;
}

.cargo {
    margin-bottom: 15px;
}

.empty-icon {
    font-size: 140px;
    opacity: 30%;
}